.container-control {
  height: 630px;
  width: 155px;
  margin: 50px 0px 0px;
  margin: auto;
  border-radius: 20px;
  background-color:#f6f6f8;
  border: 0.4px solid rgb(182, 182, 182);
  box-shadow: inset 95px 0px 10px -95px rgba(163,159,161,1), inset -95px 0px 10px -95px rgba(163, 159,161,1), inset 0 100px 23px -91px rgba(255,255,255,1), 16px 25px 99px -16px rgba(94,94,94,1);
}

.container-btn-logo{
  display: flex;
  justify-content: space-between;
}

.logo-rc{
  float: right;
  width: 35px;
  height: auto;
  margin-right: 0px;
  margin-top: -69px;
}
.logo-rc:hover{
  transform: rotate(360deg) ;
  transition-duration: 1500ms;
  transition-timing-function: cubic-bezier(0.66, -2.54, 0.63, 3.1);
  /* transition: ease-in-out;
  transition-property: all;
  tra */
}

.btn{
  background-color: #f6f6f8;
  border: 1px solid grey;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  border: none;
  cursor:pointer;
  box-shadow: inset 0 0 0 1.5px rgba(0, 0, 0, 0.1), inset 0-s.5px 0 rgba (0, 0, 0, 0.25);
}

.boton-prender{
  margin-left: -14px;
}
.fa-power-off{
  color: #CC2B37;
  

  
}

.des-power{
    display: inline;
    top: -18px;
    left: 14px;
    padding: 2px;
    color: black;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    position: relative;
    z-index: 1;
    background-color: rgb(212, 203, 203);
    border-radius: 20%;
  }
  .des-power::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .des-power:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }
.controlpad{
  width: 20px;
  height: 65px;
  background-color: #f6f6f8;
  position: relative;
  margin: auto;
  border-radius: 10%;
  box-shadow: inset -2px 1px 2px -10px rgba(250, 250, 250, 0.5), inset -1.5px 0 5px -1.5px rgba(0, 0, 0, 0.5);
}

.controlpad::after{
  content: " ";
  position: absolute;
  top: 22px;
  left: -22px;
  width: 65px;
  height: 20px;
  background-color: #f6f6f8;
  border-radius: 10%;
  border: 0.5px solid transparent;
  box-shadow: inset -2px 0px 2px -2px rgba(250, 250, 250, 0.5), -2px 0px 2px -1px rgba(0, 0, 0, 0.2), inset -2px -1.5px 2px -1px rgba(0, 0, 0, 0.2);
}



.btnA{
  height: 50px;
  width: 50px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(229, 229, 225) 100%);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 35px;
  box-shadow: inset -4px 2px 2px -10px rgba(250, 250, 250, 0.5), inset 1.75 0 3.5px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #A8A7AD;
  font-family:'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
  
}

.btnA{
  animation-duration: 5s;
}



.container-center{
  display: flex;
  flex-direction: row !important ;
  width: 155px;
  height: auto;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 20px;
}

.home{
  margin: 0;
  padding: 0;

}
.fa-home{
  color: black;
  
}

.des-home{
  
  color: black;
  padding: 3px;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  margin-top: 5px;
  margin-left: -4px;
  position: relative;
  z-index: 1;
  background-color: rgb(212, 203, 203);
  border-radius: 20%;
}
.des-home::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.des-home:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.casa{
  position: relative;
  z-index: 1;
}
.casa::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(to right, rgb(203, 216, 236) 0%, rgb(214, 114, 100) 51%, rgb(235, 221, 132) 100%);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animte 20s linear infinite;
  border-radius: 50%;
   
}

.casa::after{
  filter: blur(20%);
}
@keyframes animte{
  0%{
    background-position:  0 0;
  }
  50%{
    background-position: 300% 0 ;
  }
  100%{
    background-position: 0 0 ;
  }
}

.sum{
  color: black;
  margin: 0;
  padding-bottom: 10px;
  font-size: 19px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(229, 229, 225) 100%);
  border-radius:  50%;
  box-shadow: inset -4px 2px 2px -10px rgba(250, 250, 250, 0.5), inset 1.75 0 3.5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
.sum::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(to right, rgb(203, 216, 236) 0%, rgb(214, 114, 100) 51%, rgb(235, 221, 132) 100%);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animte 20s linear infinite;
  border-radius: 50%;
   
}

.sum::after{
  filter: blur(50%);
}
@keyframes animte{
  0%{
    background-position:  0 0;
  }
  50%{
    background-position: 300% 0 ;
  }
  100%{
    background-position: 0 0 ;
  }
}


.sust{
  color: black;
  margin: 0;
  padding-bottom: 10px;
  font-size: 19px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(229, 229, 225) 100%);
  border-radius:  50%;
  box-shadow: inset -4px 2px 2px -10px rgba(250, 250, 250, 0.5), inset 1.75 0 3.5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
.sust::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(to right, rgb(203, 216, 236) 0%, rgb(214, 114, 100) 51%, rgb(235, 221, 132) 100%);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animte 20s linear infinite;
  border-radius: 50%;
   
}

.sust::after{
  filter: blur(50%);
}
@keyframes animte{
  0%{
    background-position:  0 0;
  }
  50%{
    background-position: 300% 0 ;
  }
  100%{
    background-position: 0 0 ;
  }
}

.speaker1, .speaker2, .speaker3, .speaker4, .speaker5, .speaker6{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 50px;
  margin-bottom: 9px;
}

.s1, .s2, .s3, .s16, .s17, .s18 {
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 10px;
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: ease-in;
}



.s4, .s5, .s6, .s13, .s14, .s15 {
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: ease-in;
}

.s7, .s8, .s9, .s10, .s11, .s12 {
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: ease-in;
}

.b1, .b2{
  height: 31px;
  width: 31px;
  margin:  0 auto;
  margin-top: 20px;
  color: #A8A7AD;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  /* cursor: pointer; */
  box-shadow: inset 1.2px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.b1{
  margin-top: 35px;
  padding-bottom: 5px;
}
.container-btn-bottom{
  transition-duration: 5000ms;
}
.glitch{
  position: absolute;
  margin-top: -33px;
  margin-left: 60px;
  transform: (-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transition-duration: 5000ms;  
  transition-property: all;
  transition: ease-in-out;
  border-radius: 50%;
  box-shadow: inset 1.2px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.glitch:hover{
   opacity: 1;
  
}


.lights{
  display: flex;
  justify-content: space-around;
  width: 130px;
  margin: 0 auto;
  margin-top: 25px;
}

.square1, .square2, .square3, .square4{
  width: 7px;
  height: 7px;
  background-color: #4F7279;
}
.square1{
  opacity: 1;
  box-shadow: 2px 5px 24px 4px rgba(0, 217, 255, 0.75);
  background: rgb(80, 202, 250);
}

.logo{
  float: center;
  width: 50px;
  height: auto;
  margin-left: 55px;
  margin-top: 10px;
  
}